.main {
    display: flex, center;
    margin-left: 40%;
    margin-top: 50px;
    width: 500px;
    
}

.storyIntro h3{
    font-size: 50px;
    margin-bottom: 20px;
    color: #420814 ;
    
}

.startBtn{
    margin: 30px;
    background-color: #420814 ;
    color: #c1c6be;
}




