
.Navbar {
    background-color: #420814;
}

.button {
    display: flex;
    justify-content: flex-end;
   
}

.logBtn, .outBtn, .signBtn {
    background-color: #6d6161 ;

}

.link- {
    color:#420814;
}