.Navbar {
    background-color: #0b2228;
    padding: 5px;
    
}



.dropdown-menu {
    
    background-color: #0b2228;
    color: whitesmoke;
}

#menu-items {
    
}

.button {
    display: flex;
    justify-content: flex-end;
}

.logBtn , .outBtn , .signBtn{
    margin: 10px;
    background-color:#0b2228;
    color: whitesmoke;
}