
.card{
    background-color: #6d6161;
    border-style: inset;
    border-color: black;
    border-width: 3px;
}


.icon {
    color:antiquewhite;
    
    
}

#stats {
    color: antiquewhite;
}


 